In [1]:
import pandas as pd

In [5]:
data= pd.read_table('base_banque_2024_03.txt', sep=';')
data.head()

,id_client,age,sexe,situation_familiale,statut_logement,revenu,flag_tel,flag_email,nb_credits_total,mt_credits_total,nb_credits_actuel,mt_credits_actuel,mt_echeances_actuel,duree_remboursement_actuel,mt_premier_credit,anc_premier_credit,canal_premier_credit,mt_dernier_credit,anc_dernier_credit,canal_dernier_credit
0,ID_000007229325,42,M,Célibataire,NaN,NaN,1,0,9,10133,1,1037,2982.55,2.0,800.00,7243.0,Partenaire,1333.33,724,Mailing
1,ID_000010505545,39,M,Célibataire,NaN,3333.33,1,0,6,36343,1,3507,2619.84,3.0,1066.67,7310.0,Partenaire,3466.67,35,Partenaire
2,ID_000025046774,51,F,Célibataire,Locataire,1306.67,0,0,3,10395,1,5864,31.76,4.0,3061.25,2316.0,Partenaire,5333.33,82,Partenaire
3,ID_000032823695,52,F,Divorcé,Locataire,2466.67,1,0,8,16120,1,4379,631.82,6.0,333.33,6786.0,Partenaire,4000.00,73,Agence
4,ID_000062218736,52,F,Célibataire,Locataire,1838.80,1,0,5,14667,4,4811,309.20,3.0,8000.00,4431.0,Agence,4000.00,958,Agence

In [6]:
echantillon_aleatoire = data['id_client'].sample(n=2000, random_state=1)
echantillon_aleatoire.to_csv('c1_valdes.txt', sep=';', index=False, header=False)